.header {
    position: fixed;
    background-color: white;
    max-width: 1366px;
    top: 0;
    
 }
 .header_container {
     display: flex;
     align-items: center;
     padding-top: 15px;
     padding-bottom: 15px;
     margin-left: 100px;
 }
 .header_nav {
     display: flex;
     align-items: center;
 }
 .menu_nav {
     display: flex;
     width: 800px;
     margin-left: 250px;
     margin-right: 20px;
     align-items: center;
     justify-content: space-around;
 }
 .menu_nav_bloc {
     display: block;
     font-size: 12px;
     font-weight:bolder;
     text-align: center;
 }
 .menu_nav_bloc_text {
     display: inline-block;
     position: relative;
     
 }