.header {
    position: fixed;
    background-color: white;
    width:100%;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
    color: #202c45;
    
 }
 .header_container {
     display: flex;
     align-items: center;
     padding-top: 15px;
     padding-bottom: 15px;
     margin-left: 100px;
 }
 .header_nav {
     display: flex;
     align-items: center;
     width:80%;
 }
 .menu_nav {
     display: flex;
     width: 100%;
     margin-left: 250px;
     margin-right: 20px;
     align-items: center;
     justify-content: space-around;
 }
 .menu_nav_bloc {
     display: block;
     font-size: 12px;
     font-weight:bolder;
     text-align: center;
     text-decoration: none;
     color: inherit;
     
 }
 .buttontop{
 border: 1px solid black;
 border-radius: 36px;
 width: 100px;
 height: 30px; 
 padding-top: 10px;
 }
 .shadow{
     box-shadow:inset white 2px 3px 0px 0px
     ,inset gold 9px 50px 0px 0px  ;
 }
.mainBox{
    width:45%;
    margin: 120px auto;
    font-family: 'Roboto', sans-serif;
    color: #202c45;
}
.innerBox{
    display: flex;
    
}

.contentBox{
    width: 60%;
}


.inputs{
    display: grid;
    margin-top: 15px;
    line-height:1.5;
}
.inputs >input{
height: 40px;
outline: none;
}
input:focus{
    border: 2px solid aqua;

}
.password{
    float: right;
    
}
.link{
    text-decoration: none;
}
.checkBox{
    margin-top: 15px;
}
.button{
    height: 40px;
    width: 120px;
    background-color: aqua;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.loginButton{
    float: left;
    padding-top: 25px;

}
.divide{
    clear: both;
    text-align: center;
}
.bottomLinks{
    background-color: lightgrey;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    border-radius: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideContent{
    margin: 30px;
   
    height:150px;
}
.list{
    list-style-type:none;
    background-color: #fefce9;
    line-height: 1.2;
    padding: 35px;
}
.image{
    height: 25px;
    margin:  20px 15px;
    padding-top: 5px;
}
.para{
    padding-top: 8px;
}
#footerCover {
    max-width: 100%;
    height: 500px;
    background-color: #313a45;
}
#footer {
    width: 80%;
    height: 60%;
    margin: 10% auto;
    background-color: #313a45;
    font-family: 'Roboto', sans-serif;
}
#footerGrid {
    display: grid;
    width: 70%;
    height: 90%;
    grid-template-areas: "a b c d";
                         
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 100%;
    gap: 2%;
    margin: 80px 0px 0px;
}
#footer>div,.icon {
    float: left;
}
#footerGrid>div {
    display: flex;
    flex-flow: column wrap;
}
.boldWhite{
    font-weight: 120;
    font-size: 20px;
}
#footerGrid>div>:nth-child(1) {
    color: white;
}
.railsware {
    margin: 80px 100px;
}
.grayFont {
    color: hsla(0,0%,100%,.53);
    font-size: 15px;
    line-height: 30px;
}
.blueLine{
    width: 100%;
    border-color: #0080b6;
}
.grayLine{
    width: 100%;
    border-color: hsla(0,0%,100%,.53);
}
.aboutMailtrap{
    color: hsla(0,0%,100%,.53);
    float: left;
    width: 57%;
    font-size: 14px;
    margin: 12px 0px;
}