.header {
    position: fixed;
    background-color: white;
    max-width: 1366px;
    top: 0;
    
 }
 .header_container {
     display: flex;
     align-items: center;
     padding-top: 15px;
     padding-bottom: 15px;
     margin-left: 100px;
 }
 .header_nav {
     display: flex;
     align-items: center;
 }
 .menu_nav {
     display: flex;
     width: 800px;
     margin-left: 250px;
     margin-right: 20px;
     align-items: center;
     justify-content: space-around;
 }
 .menu_nav_bloc {
     display: block;
     font-size: 12px;
     font-weight:bolder;
     text-align: center;
 }
 .menu_nav_bloc_text {
     display: inline-block;
     position: relative;
     
 }
#createAccount{
    display: grid;
    width: 35%;
    height: 400px;
    grid-template-areas: "a a"
                         "b h"
                         "c h"
                         "d ."
                         "e ."
                         "f ."
                         "g .";
    grid-template-rows: 12% 12% 12% 12% 12% 12% 16%;
    grid-template-columns: 68% 28%;
    gap: 4%;
    margin: 150px auto;
    
                             
}
h2 {
    grid-area: a;
    font-size: 34px;
    margin: 0px;
}
.google {
    grid-area: b;
}
.github{
    grid-area: c;
}
.office {
    grid-area: d;
}
.or {
    grid-area: e;
    text-align: center;
    margin: 10px;
}
.signupBtn{
    grid-area: f;
    background-color: #66f2d5;
    border-radius: 20px;
    border: 1px solid black;
    height: 100%;
    text-align: center;
    line-height: 40px;
}
.tAndC {
    grid-area: g;
}
.boxes,.google,.github,.office,img{
    background-color: #f6f6f7;
    border-radius:20px;
    display: flex;
    flex-flow: row wrap;
}
.rightBox{
    background-color: #fefce9;
    grid-area: h;
    display: flex;
    flex-flow: row wrap;
}
.google>img,.github>img,.office>img{
    width: 8%;
    height: 50%;
    margin: 12px 20px 10px 50px;
}
.rightBox>img{
    width: 20%;
    height: 20%;
    background-color: lightpink;
    margin: 12px 10px;
    float: left;
    
}
.rightBox>div{
    float:left;
    font-size: 15px;
    width: 58%;
    height: 20%;
    margin: 10px 5px;
}

.tAndC>div,.rightBox>div>div{
    float: left;
}
.tAndC>div {
    text-align: left;
    font-size: 18px;
    
}
#footerCover {
    width: 100%;
    height: 500px;
    background-color: #313a45;
}
#footer {
    width: 80%;
    height: 60%;
    margin: 10% auto;
    background-color: #313a45;
}
#footerGrid {
    display: grid;
    width: 70%;
    height: 90%;
    grid-template-areas: "a b c d";
                         
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 100%;
    gap: 2%;
    margin: 80px 0px 0px;
}
#footer>div,.icon {
    float: left;
}
#footerGrid>div {
    display: flex;
    flex-flow: column wrap;
}
.boldWhite{
    font-weight: 120;
    font-size: 20px;
}
#footerGrid>div>:nth-child(1) {
    color: white;
}
.railsware {
    margin: 80px 100px;
}
.grayFont {
    color: hsla(0,0%,100%,.53);
    font-size: 15px;
    line-height: 30px;
}
.blueLine{
    width: 100%;
    border-color: #0080b6;
}
.grayLine{
    width: 100%;
    border-color: hsla(0,0%,100%,.53);
}
.aboutMailtrap{
    color: hsla(0,0%,100%,.53);
    float: left;
    width: 57%;
    font-size: 14px;
    margin: 12px 0px;
}